<h1>Keyptrack</h1>
<h2>For Tester</h2>
<p><%= link_to 'Reports', reports_path %></p>
<p><%= link_to 'Builds', builds_path %></p>
<h2>For Developer</h2>
<p><%= link_to 'Users', users_path %></p>
<p><%= link_to 'Games', games_path %></p>
<p><%= link_to 'Platforms', platforms_path %></p>
<p><%= link_to 'Statuses', statuses_path %></p>
<p><%= link_to 'Resolutions', resolutions_path %></p>
