<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>
      <ul>
      <% @report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %>
    <%= f.collection_select :user_id, User.order("name ASC"), :id, :name, :include_blank => true  %>
  </div>
  <div class="field">
    <%= f.label :game %>
    <%= f.collection_select :game_id, Game.order("title ASC"), :id, :title, :include_blank => true  %>
  </div>
  <div class="field">
    <%= f.label :platform %>
    <%= f.collection_select :platform_id, Platform.order("os ASC"), :id, :os, :include_blank => true  %>
  </div>
  <div class="field">
    <%= f.label :report_number %>
    <%= f.text_field :report_number %>
  </div>
	<% if params[:action] == "edit" %>
	<div class="field">
		<%= f.label :status %>
    <%= f.collection_select :status_id, Status.all, :id, :status %>
	</div>
	<div class="field">
		<%= f.label :resolution %>
    <%= f.collection_select :resolution_id, Resolution.all, :id, :resolution %>
	</div>
	<div class="field">
 		<%= f.label :fix_commit %>
  	<%= f.text_field :fix_commit %>
  </div>
  <div class="field">
  	<%= f.label :fix_confirm %>
  	<%= f.text_field :fix_confirm %>
  </div>
	<% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
	<% if params[:action] == "edit" %>
	<hr />
 	<p>
 		<iframe src="http://192.168.1.13:8080/browse/<%= "#{@report.game.key}-#{@report.report_number}" %>" width="100%" height="400" frameborder="0"></iframe>
 	</p>
	<% end %>
<% end %>
