<h1>Reports</h1>

<%= form_tag('/reports/search') do %>
	<%= text_field_tag :report_search %>
	<%= submit_tag 'Search' %>
<% end %>

<p><%= link_to 'New Report', new_report_path %></p>

<%= will_paginate @reports %>
<div id="reports">
	<% @reports.each do |report| %>
	<div class="report">
		<p class="report-key"><%= report.report_key %></p>
		<p class="report-name"><%= report.user.name %></p>
		<p class="report-status"><%= report.status.status %></p>
		<p class="report-resolution"><%= report.resolution.resolution %></p>
    <td><%= link_to 'Destroy', report, method: :delete %></td><br/>
	</div>
	<% end %>
</div>
<%= will_paginate @reports %>

<p><%= link_to 'New Report', new_report_path %></p>
