<h1>Regression</h1>
<pre>
<% @reports %>
</pre>

<table>
  <tr>
    <th>User</th>
    <th>Game</th>
    <th>Platform</th>
    <th>Fix commit</th>
    <th>Fix confirm</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reports.each do |report| %>
  <tr>
    <td><%= report.user.name %></td>
    <td><%= link_to "#{report.game.key}-#{report.report_number}", "http://192.168.1.13:8080/browse/#{report.game.key}-#{report.report_number}" %></td>
    <td><%= report.platform.os rescue "" %></td>
    <td><%= report.fix_commit %></td>
    <td><%= report.fix_confirm %></td>
    <td><%= link_to 'Show', report %></td>
    <td><%= link_to 'Edit', edit_report_path(report) %></td>
		<!--<td><%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
	</tr>
<% end %>
</table>
